[submodule "engine"]
	path = engine
	url = git@github.com:opengeospatial/teamengine.git
[submodule "ets-wms11"]
	path = ets-wms11
	url = git@github.com:opengeospatial/ets-wms11.git
[submodule "ets-wms13"]
	path = ets-wms13
	url = git@github.com:opengeospatial/ets-wms13.git
[submodule "ets-wfs10"]
	path = ets-wfs10
	url = git@github.com:opengeospatial/ets-wfs10.git
[submodule "ets-wfs11"]
	path = ets-wfs11
	url = git@github.com:opengeospatial/ets-wfs11.git
[submodule "ets-wcs10"]
	path = ets-wcs10
	url = git@github.com:opengeospatial/ets-wcs10.git
